<%#
<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<h1><%= @room.name </h1>

<h4>参加者</h4>
<% @entries.each do |e| 
  <%= link_to e.user.name, user_path(e.user_id) 
<% end 

<h1>Chat room</h1>
<form>
  <label>Say something:</label><br>
  <input type="text" id="chat-input" data-behavior="room_speaker">
</form>

<div id="chats" data-room_id="<%= @room.id %>
  <%# <%= render @chats %>
<%# </div> %>




<h1>Chat room</h1>
<%#                ここの data-room_id を使ってjs側で部屋を見分ける %>
<%# <div id='chats' data-room_id="<%= @room.id %>"> %>
  <%# <ul> %>
    <%# <% @chats.each do |chat| %> %>
      <%# <li><%= chat.message %></li> %>
    <%# <% end %> %>
  <%# </ul> %>
<%# </div> %>

<%= render 'chats/chat' %>

<%# <div class='chat'>
  <%# 投稿者を特定できるようにメールアドレスを表示させておく %>
  <%# <ul> %>
    <%# <% @chats.each do |chat| %> %>
      <%# <li><%= chat.message %></li> %>
    <%# <% end %> %>
  <%# </ul> %>
<%# </div> %> %>

<%= label_tag :message, 'Say something:' %>
<%= text_field_tag :message, nil, data: { behavior: 'room_speaker' } %>
